@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
.loading-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* position: relative; */
   ;
   position: relative; 
    /* overflow: hidden; */
    background:#ffcf90;

}



.laoding-page {
    background: #ffefb4; 
    width: 400px;
    height: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:inset 0px 0px 5px 0px black;
}

.init-img {
    width: 90%;
    height: 50%;
    border-radius: 20px;
    /* overflow: hidden; */
    box-shadow: 0px 2px 3px 0px black;
    background: #ffcf90;
}

.init-img img {
    width: 100%;
    height: fit-content;
}

.h1-div {
    margin: 0;
    padding: 0;
    background: transparent;
    
padding: 0rem 1rem;
}

h1 {
    
    margin: 0;
    padding: 0;
    color:  #e77f3a;
    -webkit-text-stroke: 2px #880015;
    text-align: center;
    font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  

}

.kobita {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem 0rem; */
    background-image: linear-gradient(90deg, #ffd700, #784315);
    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: move-bg 8s ease-in-out infinite;
    margin-bottom: 1rem;
}

.kobita div {
    text-align: center;
    font-size: 21px;
    width: 100%;
    height: 100%;   
}
.kobita div span{ 
    margin: 0.5rem 0rem;
}
.button-loading {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0rem;

}


.loading-page-button {
    margin-right: 4rem;
    padding: 0.3rem 1rem;
    background: #e6804d;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0px black;
    color: white;
}

.loading-page-button:hover {
    /* border: 1px solid green;
    color: green; */
    box-shadow: 2px 2px 5px 0px black;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.loading-page-button:not(:hover) {
    transition: all 0.3s ease-in-out;
}

button {
    cursor: pointer;
}

@keyframes move-bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}